{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "appRoot" : ".",
        "routes" : "./src/routes",
        "persistence" : "./src/persistence",
        "service" : "./src/service",
        "models" : "./src/persistence/model"
      }
    }]
  ]
}